#barra,
#resultado,
#botoes,
#historico {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    text-align: -webkit-center;
}
.container{
    text-align: center;
    text-align: -webkit-center;
}

#barra {
    padding: 20px 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

h3 {
    padding-bottom: 5px;
}

#botoes {
    padding: 20px 0;
    justify-content: center;
}

.barra-de-progresso {
    border: 1px solid black;
    height: 20px;
    width: 90%;
}

.progresso {
    background-color: green;
    height: 100%;
    float: left;
}

.danger{
    background-color: red;
}

p {
    clear: both;
}

#resultado{
    font-size: 1.3rem;
    font-weight: 600;
}